<footer class="w-full py-8 px-4 md:px-10 lg:px-20 text-black/60">
  <div
    class="max-w-screen-xl w-full flex flex-col md:flex-row items-center md:justify-between gap-4"
  >
    <div class="flex items-center gap-4">
      <div
        class="text-[0.65rem] sm:text-[0.65rem] md:text-[0.65rem] lg:text-[0.65rem] xl:text-[0.75rem] 2xl:text-[0.85rem] uppercase tracking-[0.2em] font-inter text-black/40"
      >
        LOCATION
      </div>
      <a
        href="https://share.google.com/ynl66xAcwNkeP1X6e"
        target="_blank"
        class="text-black/70 hover:text-black"
        >Based in Brasov, RO</a
      >
    </div>

    <div class="flex items-center gap-4">
      <div
        class="text-[0.65rem] sm:text-[0.65rem] md:text-[0.65rem] lg:text-[0.65rem] xl:text-[0.75rem] 2xl:text-[0.85rem] uppercase tracking-[0.2em] font-inter text-black/40"
      >
        SOCIAL
      </div>
      <div class="flex items-center gap-6 font-inter">
        <a
          href="https://www.instagram.com/mara.black.010"
          target="_blank"
          class="text-black/70 hover:text-black"
          >Instagram</a
        >
        <a
          href="https://www.linkedin.com/in/marialichi/"
          target="_blank"
          class="text-black/70 hover:text-black"
          >LinkedIn</a
        >
      </div>
    </div>
  </div>
</footer>
